"*":
  core:
    disabledPackages: [
      "language-objective-c"
      "language-ruby-on-rails"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    lineHeight: 1.2
  "exception-reporting":
    userId: "3d27f752-690f-4559-8307-76b2f9cd9bb1"
  "force-text-direction":
    enabled: true
  welcome:
    showOnStartup: false
